<?xml version="1.0"?>

<launch>



	<!-- P3-DX Model TF Description -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find native)/urdf/p3dx_real.xacro'" />	
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 base_link base_footprint 100"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
		<param name="publish_frequency" type="double" value="30.0" />
	</node>



	<!-- Load the URDF of the P3DX with a Kinect into the ROS Parameter Server -->
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_base_footprint" args="0 0 0 0 0 0          base_link base_footprint 50"/>
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_center_wheel"   args="-0.2 0 0.036 0 0 0   base_link center_wheel 50"/>
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_swivel"         args="-0.178 0 0.052 0 0 0 base_link swivel 50"/>

	<!-- Publish joint states for rviz to access -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find native)/config/real_hokuyo.rviz" />



	<!-- laser node -->
	<group ns="hokuyo">
		<node pkg="hokuyo_node" type="hokuyo_node" name="laser_scan" required="true">
			<param name="calibrate_time" value="false" />
			<param name="port"           value="/dev/ttyACM0" />
			<param name="frame_id"       value="lms100"/>
			<remap from="scan"           to="/hokuyo/laser_scan"/>
		</node>
	</group>



</launch>
